@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,500&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;700&display=swap');

:root {
    --main-color: #EFF6FB;
    --second-color: #FFE2C2;
    --third-color: #001D3D;
    --accent-two: #0E4749;
    --header-font: "Lora", "Roboto", serif;
    --paragraph-font: "Montserrat", "Open Sans", sans-serif;
}


:root{
    --main-color: #EFF6FB;
    --second-color: #FFE2C2;
    --third-color: #001D3D;
    --accent-two: #0E4749;
    --header-font: "Roboto", serif;
    --paragraph-font: "Merriweather", sans-serif;
}


@media only screen and (min-width: 60rem) {
    .menu_btn button {
        display: none;
    }

    .menu_bar {
        display: grid;
        grid-template-columns: 10% 30% 50% 10%;
        margin: 0px 20px;
    }

    #hd-logo {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin: auto;
    }

    .compName {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin: auto 0px;
    }

    #compName_line1 {
        margin: auto 0px;
        font-size: 40px;
        padding-left: 0px;
    }
    
    #compName_line2 {
        margin: 0px;
        padding-left: 0px;
    }

    #primaryLinks {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: transparent;
        color: white;
        margin: 0px;
        padding: 0px;
    }

    .bar_wide {
        display: block;
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }

    .social_icons {
        grid-column: 4 / 4;
        grid-row: 1 / 1;
    }

    nav ul li a{
        color: var(--main-color);
        border: none;
        font-size: 20px;
        width: 100%;
    }
    #primaryLinks li.active a {
        background-color: var(--main-color);
        color: var(--third-color);
        text-transform: uppercase;
    }

    nav ul li a:hover{
        background-color: transparent;
        color: var(--second-color);
    }


    /*main section*/

    main.content {
		position: relative;
		display: grid;
		grid-template-columns: 20em 1fr 20em;
		grid-template-rows: 1fr 1fr 1fr;
		margin: 2em 3em 2em 3em;
		max-width: max-content;
	}

	/* Hero */
	main .hero {
        grid-column: 2/3;
        grid-row: 1/3;
        margin: 0 .5em .5em .5em;
  	}

  	.heroImg {
        margin: 0;
        height: 100%;
        width: 100%;
  	}

  	.heroBtn {
        position: absolute;
        bottom: 1em;
        right: 1em;
        /* width: 9em;
        height: 2em; */
  	}

	/* Events */
	main .events {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;
  	}

    main .events h1 {
        font-size: 2rem;
    }

    main .events h2, .spotlight .spots h2 {
        font-size: 1rem;
    }

    main .events p {
        margin: .2em;
    }

	/* Weather */
	main .localWthr {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: .5em 0 .5em 0;
        justify-content: center;
        align-items: center;
    }

    main .localWthr p.wChill {
        font-size: .9em;
        padding-top: 2px;
    }

	main .localWthr div.weatherIcon {
		margin-top: 35px;
	}

	/* News */
	main .localNews {
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 0 .5em 0 .5em ;
    }

	/* Spots */
    main .spotlight div.spots h2 {
        font-size: 24px;
        margin: auto;
    }

	main .spotlight .spots p {
		padding: 0;
    }

    main .spotlight hr {
        width: 90%;
        text-align:center;
    }

	section.spots:nth-child(3) {
        display: block;
    }

    main div.spotlight {
        grid-column: 3/4;
        grid-row: 1/5;
        height: auto;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
		padding: 0;
    }

    main div p.spots:nth-child(1) {
        grid-row: 1/2;
        height: auto;
    }

    main div p.spots:nth-child(2) {
        grid-row: 2/3;
        height: auto;
    }

    main div p.spots:nth-child(3) {
        grid-row: 3/4;
        height: auto;
        width: auto;
    }

    .spotlight hr {
        display: block;
    }

	/* Join Us */
	main .joinUs {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 0;
    }

    h1 {
        font-family: var(--header-font);
        color: rgb(1, 41, 56);
    }

    /* footer*/
    footer section:nth-child(2) {
        text-align: left;
    }

    footer h5{
        font-size: 32px;
        margin-top: 0;
    }

    footer p{
        font-size: 20px;
    }

    .very-bottom{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .very-bottom p{
        display: block;
        font-size: 18px;
    }
}